section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292929;
  color: #e1e1e1;

  .mortage-calculator-div {
    width: 768px;
    padding: 30px;
    border-radius: 10px;
    background-color: #121212;
    h1 {
      font-size: 28px;
      color: #e2e2e2;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .form-container {
      form {
        button {
          cursor: pointer;
          padding: 12px 18px;
          font-size: 16px;
          border-radius: 4px;
          border: 0;
          font-weight: 500;
          letter-spacing: 1px;
          color: #000;
          background-color: #c38fff;
          margin-top: 30px;
          transition: all 0.3s;
          &:hover {
            background-color: rgba(#c38fff, 0.8);
            transform: translateY(-5px);
          }
        }

        .inputs-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 30px;
          column-gap: 20px;
          margin-bottom: 20px;

          .input-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            input[type="range"] {
              cursor: pointer;
            }
            label {
              font-size: 14px;
              span {
                font-size: 18px;
                font-weight: 600;
              }
            }
            span.span-big {
              font-size: 22px;
              font-weight: 700;
            }
          }
        }
      }
    }

    .error {
      display: none;
      font-size: 14px;
      margin-top: 10px;
      color: rgb(199, 42, 42);
      line-height: 1.75;
    }
    .error-show {
      display: block;
    }
  }
}
